{% extends "base.html" %}
{% block busqueda %}
{% endblock %}

{% block pagina %}
    <h1>Pacientes</h1>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <a class="btn btn-primary btn-lg" href="/paciente/create/" role="button">Agregar paciente</a>
    </div>
</div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        {% for paciente in pacientes %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ paciente.nombre }} {{paciente.apellido}}</h5>
                <p class="card-text">rut: {{ paciente.rut }}</p>
                <a href="/ficha/{{paciente.id}}" class="card-link">Ir</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include "footer.html" %}
{% endblock %}