{% extends "base.html" %}
{% block pagina %}
    <h1>Paciente</h1>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <form action="" method="POST" class="card-body">
                {% csrf_token %}
                    {{form | crispy }}
                    <hr>
                    <div class="d-flex justify-content-start">
                        <a class="btn btn-danger btn-lg" href="{{request.META.HTTP_REFERER}}" role="button">Cancelar</a>
                        &nbsp;
                        <input type="submit" class="btn btn-lg btn-primary " value="Guardar" onclick="CrearPaciente()"></input>
                    </div> 
            </form>
        </div>
    </div>
</div>
<br>
{% endblock %}