{% extends "base.html" %}
{% block pagina %}
    <h1 class="display-4">Tema: {{object.tema}}</h1>
{% endblock%}
{% block content %}
<div class="jumbotron">
    <p class="lead">RUT: {{object.rut}}</p>
    <p class="lead">Doctor: {{object.doctor.nombre}} {{object.doctor.apellidoP}} {{object.doctor.apellidoM}}</p>
    <p class="lead">Tratamiento: {{object.tratamiento}}</p>
    <p class="lead">Diagnostico: {{object.diagnostico}}</p>
    <hr class="my-4">
    <p>Fecha: {{object.fecha}}</p>
    <p>¿Desea borrar la consulta?</p>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Confirmar borrado" onclick="Eliminar()">
    </form>
</div>
<a class="btn btn-info btn-lg" href="javascript:history.back()" role="button">atras</a>
{% include "footer.html" %}
{% endblock %}