{% extends "base.html" %}
{% block pagina %}
<h1>Consulta medica</h1>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <br>
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <form action="" method="POST" class="card-body">
                {% csrf_token %}
                {{form | crispy}}
                <hr>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-danger btn-lg" href="javascript:history.back()" role="button">Cancelar</a>
                    &nbsp;
                    <input type="submit" class="btn btn-lg btn-primary " value="Guardar" onclick="CrearConsulta()"></input>
                    &nbsp;
                    <a class="btn btn-primary btn-lg" href="create_tratamiento/" role="button">Agregar tratamiento </a>
                </div>
        </form>
    </div>
</div>
{% endblock %}