{% extends "base.html" %}
{% block pagina %}
<h1>Tratamiento medico</h1>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<br>
<br>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="card">
            <form action="" method="POST" class="card-body">
                {% csrf_token %}
                {{form | crispy}}
                <hr>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-danger btn-lg" href="javascript:history.back()" role="button">Cancelar</a>
                    &nbsp;
                    <input type="submit" class="btn btn-primary btn-lg" value="Guardar" onclick="CrearTratamiento()"></input>
                    &nbsp;
                    <a class="btn btn-primary btn-lg" href="create_examen/" role="button">Agregar examen</a>
                    &nbsp;
                    <a class="btn btn-primary btn-lg" href="create_receta/" role="button">Agregar receta</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}