{% extends "base.html" %}
{% block pagina %}
<h1>Exámenes</h1>
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <div class="card">
        <form action="" method="POST" class="card-body">
            {% csrf_token %}
            <table class="table table-borderless card">
                {{form.as_table}}
            </table>
            <a class="btn btn-danger btn-lg" href="javascript:history.back()" role="button">Cancelar</a>
            <input type="submit" class="btn btn-lg btn-primary " value="Guardar" onclick="Actualizar()"></input>
        </form>
    </div>
</div>
{% endblock %}