{% extends "base.html" %}

{% block pagina %}
    <h1>Ficha del paciente</h1>
{% endblock%}
{% block content %}
<div class="container"></div>
    <div class="row">
        <a style="width: fit-content;" class="btn btn-primary btn-lg" href="create/" role="button">Agregar consulta medica</a>
        <a style="width: fit-content;margin-left: 0.5%" class="btn btn-primary btn-lg" href="update/" role="button">Actualizar paciente</a>
        <form method="GET" style="width: fit-content;margin-left: 0.5%">
            <select  class="btn-lg" name="orden">
                <option value="Ascendente" name="Ascendente" >Fecha: Ascendente</option>
                <option value="descendente" name="Descendente" >Fecha: descendente</option>
            </select>
            <input type="submit" class="btn-success btn-primary btn-lg" value="Buscar">
        </form>
        <div class="search" style="width: fit-content;margin-left: 0.5%">
            <form method="GET">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="date" class="form-control btn-lg" value="{{request.GET.fromdate}}" name="fromdate">
                        <span class="input-group-list">
                            <i class="icon icon-search"></i>
                            <button type="submit" class="btn-success btn-primary btn-lg">Buscar</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 justify-content-center">
{% for consultamedica in fichas %}
        <div class="container" style="width: 18rem;">
            <div class="card">
                <div class="card-body">
                <u><strong><h3 class="card-title">{{ consultamedica.tema }}</h3></strong></u>
                <p class="card-text">Nombre: {{ consultamedica.rut.nombre }} {{ consultamedica.rut.apellidoP }} {{ consultamedica.rut.apellidoM }}</p>
                <p class="card-text">Paciente: {{ consultamedica.rut }}</p>
                <p class="card-text">Doctor: {{ consultamedica.doctor.nombre }} {{ consultamedica.doctor.apellidoP }} {{ consultamedica.doctor.apellidoM }}</p>
                <p class="card-text">Fecha: {{ consultamedica.fecha }}</p>
            </div>
                <a href="detalle/{{consultamedica.id}}/" class="btn btn-primary">Abrir</a>
            </div>
        </div>
{% endfor %}
    </div>
    <a style="width: fit-content;margin-left: 90%" class="btn btn-info btn-lg" href="/pacientes" role="button">atras</a>
</div>
{% include "footer.html" %}
{% endblock %}