@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.box .inputBox{
    position: relative;
}

.box .inputBox input{
    width: 90%;
    margin-left: 35px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;

}

.box .inputBox label{
    position: absolute;
    top: 0;
    left: 35px;
    letter-spacing: 3px;
    padding: 18px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -35px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

.box input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #5ad524;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.box i{
    color: #fff;
    position: absolute;
    margin-top: 14px;
    size: 10px;
}

.navbar {
    background-color: #5ad524;
  }

.navbar .navbar-brand {
    color: white;
}

h1{
    text-align: center;
    background-color: black;
    padding: 20px;
    color: white;
}

.navbar .nav-link {
    color: white;
    border-radius: .25rem;
    margin: 0 0.25em;
}

#paciente_form{
    position: fixed;
    left: 0%;
}

.btn-primary{
    background-color: #5ad524;
    border: none;
}

.card{
    position: relative;
}

#consulta_form{
    position: absolute;
    left: 0%;
}