<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'index' %}">SIGVIP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
     aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="/pacientes">Pacientes<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        <div class="search" style="width: fit-content;margin-left: 35%">
            <form method="GET">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="form-control btn-lg" placeholder="Buscar..." name="buscar"
                            value="{{request.GET.buscar}}">
                        <span class="input-group-list">
                            <button style="background-color: #5ad524;border: none;height: 44px;" type="submit"><i class="fa fa-search btn-lg"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <span class="navbar-text" style="width: fit-content;margin-left: 2%">
            {{user.first_name}} {{user.last_name}}
        </span>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </div>
</nav>